/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * stylesheet.css - Defines the styles for the Kiwi Menu extension.
 */

.menu-button {
  width: 16px;
  height: 16px;
  margin: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.menu-button,
.menu-button > StIcon {
  icon-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.kiwi-recent-menu {
  margin-left: 16px;
  max-width: 350px;
}

.kiwi-main-menu {
  max-width: 300px;
}

.popup-subtitle-menu-item {
  font-weight: bold;
  font-size: 0.9em;
  color: var(--accent-fg-color);
}

.popup-section-header-label {
  font-weight: bold;
  font-size: 0.9em;
  color: var(--accent-fg-color);
  padding-right: 8px;
}

.kiwi-document-tooltip {
  background-color: rgb(90, 90, 90);
  border-radius: 12px;
  padding: 6px 10px;
  margin-bottom: 5px;;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
}


/* User Switcher Styles */

.kiwi-user-switcher-button {
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 12px;
}

.kiwi-user-switcher-menu {
  min-width: 400px;
  padding: 6px 0;
}

.kiwi-user-grid-container {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

.kiwi-user-grid {
  min-width: 100%;
  margin: 0 auto;
}

.kiwi-user-item {
  border-radius: 12px;
  padding: 12px;
  margin: 0 12px 0 12px;
}

.kiwi-user-item:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.kiwi-user-item-content {
  align-items: center;
}

.kiwi-user-card-avatar-frame {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
  /*border: 2px solid transparent;*/
}

.kiwi-user-card-avatar-frame.logged-in {
  border-color: var(--accent-bg-color, #3584e4);
}

.kiwi-user-card-avatar {
  border-radius: 999px;
  background-size: cover;
  background-position: center;
}

.kiwi-user-card-name {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-top: 8px;
}

.kiwi-user-switcher-empty {
  font-style: italic;
}
