.menu-button {
  width: 16px;
  height: 16px;
  margin: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

.menu-button, 
.menu-button > StIcon {
  icon-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
}

.kiwi-recent-menu {
  margin-left: 16px;
}

.popup-subtitle-menu-item {
  font-weight: bold;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}

.popup-section-header-label {
  font-weight: bold;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
  padding-right: 8px;
}

.popup-section-header-separator {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
  margin-bottom: 0;
}
